# Go specific
*.exe
*.exe~
*.dll
*.so
*.dylib
*.test
*.out
/vendor/
**/debug/
**/release/

# Node/Hardhat specific
node_modules/
artifacts/
cache/

# IDE specific
.idea/
.vscode/
*.swp
*.swo

# Project specific
*-keys.txt
/spam-evm
*.test
*.coverprofile
coverage.txt

# Config and env files
.env
config.yaml
!example.config.yaml
contracts_deployed.json
